{% extends "base.html" %}
{% block title %}Ask Question {% endblock %}

{% block content %}
  <h1>Ask Question</h1>

  <div class="form">
    <form method="post" action="/ask/">
      {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <div class="form-label">
              {{ field.label }}
            </div>
            <div class="form-field">
              {{ field }}
            </div>
          </div>
        {% endfor %}
      <button type="submit" class="btn">Ask question</button>
    </form>
  </div>
{% endblock %}